@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    font-family: 'Montserrat';
    color: black;
}

// * {
//     background: #000 !important;
//     color: #0f0 !important;
//     outline: solid #f00 1px !important;
//   }
header{
    padding: 2.3em;

    .menu_btn{
        width: 30px;
        float: right;
        cursor: pointer;
    }
}


.home {
    font-size: 100px;
    font-weight: bolder;
    max-width: 100%;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    #subtext {
        font-weight: bold;
        text-align: center;
        font-size: 25px;
        font-weight: 500;
        position: absolute;
    }
}

nav {
    z-index: 100;
    display: none;
    position: absolute;
    background-color: black;
    transform: scaleX(1);
    transform-origin: right;
    padding: 2em;
    width: 100%;
    height: 100%;

    .close_btn{
        opacity: 0;
        width: 30px;
        float: right;
        cursor: pointer;
    }

    ul {
        list-style-type: none;
        margin: 10% auto 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 33%);
        span{
            color: #c3c3c3;
        }
    }
    a{
        text-decoration: none;
        color: #C6C6C6;
        font-weight: bold;
        font-size: 50px;
    }
    li {
        opacity: 0;
        margin: 50px;
        margin-bottom: 40px;
    }
    a:hover {
        color: #C6C6C6;
        text-decoration: none;
    }
}

.show_nav {
    display: block;
    animation: slide-menu 0.2s ease-in forwards;
    .close_btn {
        animation: cross 0.2s ease-in 0.2s forwards;
    }
    li:nth-of-type(1) {
        animation: slide-item 0.4s forwards 0.4s ease-in-out;
    }
    li:nth-of-type(2) {
        animation: slide-item 0.4s ease-in-out 0.5s forwards;
    }
    li:nth-of-type(3) {
        animation: slide-item 0.4s ease-in-out 0.6s forwards;
    }
    li:nth-of-type(4) {
        animation: slide-item 0.4s ease-in-out 0.7s forwards;
    }
    li:nth-of-type(5) {
        animation: slide-item 0.4s ease-in-out 0.8s forwards;
    }
    li:nth-of-type(6) {
        animation: slide-item 0.4s ease-in-out 0.9s forwards;
    }
}

.hide_nav {
    .close_btn {
        animation: hide-cross 0.2s ease-out forwards;
    }
    li:nth-of-type(1) {
        animation: hide-item 0.4s forwards ease-out;
    }
    li:nth-of-type(2) {
        animation: hide-item 0.4s ease-out forwards;
    }
    li:nth-of-type(3) {
        animation: hide-item 0.4s ease-out forwards;
    }
    li:nth-of-type(4) {
        animation: hide-item 0.4s ease-out forwards;
    }
    li:nth-of-type(5) {
        animation: hide-item 0.4s ease-out forwards;
    }
    li:nth-of-type(6) {
        animation: hide-item 0.4s ease-out forwards;
    }
    
    animation: hide-menu 0.2s ease-out 0.6s forwards;
}

.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 40%;
    z-index: 1;
    color: white;
    line-height: 100%;
    text-transform: uppercase;
}

.caption h1{
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-shadow: 0.1rem 0.1rem 0.8rem black;
    padding-bottom: 0.6rem;
}

.caption h3{
    font-size: 2rem;
    text-shadow: 0.1rem 0.1rem 0.5rem black;
    padding-bottom: 1rem;
}

.animate{
    animation: drop 1.3s linear infinite;
}

.container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: consolas;
    border: none;
}
.container .card{
    position: relative;
}
.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;

}
.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    text-align: center;
}
.container .card:hover .face.face1{
    background-color: #ff0057;
    transform: translateY(0);
}
.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-100px);
}
.container .card:hover .face.face2{
    transform: translateY(0);
}
.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}
.container .card:hover .face.face1 .content{
    opacity: 1;
    color: white;
}
.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
    color: #333;
}
.container .card .face.face2 .content a{
    margin: 10px 0 0;
    display: inline-block;
    text-decoration: none;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}
.container .card .face.face2 .content a:hover{
    background-color: #333;
    color: white;
}
// img{
//     width: 200px;
//     height: auto;
// }

.nsd {
    position: absolute;
    top: 101vh;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes drop {
    0%{
        opacity: 0;
    }
    15%{
        opacity: 1;
        transform: translateY(0px);
    }
    100%{
        opacity: 0;
        transform: translateY(10px);
    }
}

@keyframes slide-menu {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes cross {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-item {
    from {
        transform: translateY(60%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes hide-menu {
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(0);
    }
}

@keyframes hide-cross {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes hide-item {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(60%);
        opacity: 0;
    }
}

@media only screen and (max-width: 768px) {
    nav {
        ul {
            list-style-type: none;
            margin: 10% auto 0 auto;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(1, 90%);
        }
        .close_btn {
            width: 20px;
        }
        a{
            text-decoration: none;
            color: #C6C6C6;
            font-weight: bold;
            font-size: 30px;
        }
        li {
            opacity: 0;
            margin: 30px;
            margin-bottom: 20px;
        }
    }

    .home {
        color: black;
        font-size: 40px;
        font-weight: bolder;
        max-width: 100%;
    
    
        #subtext {
            font-weight: bold;
            font-size: 15px;
            font-weight: 500;
            position: absolute;
        }
    }

    .container {
        flex-flow: column;
    }
    .container .card .face {
        margin: 0 auto;
    }
    
}

@media only screen and (max-width: 900px) and (min-width: 768px){
    nav {
        ul {
            list-style-type: none;
            margin: 10% auto 0 auto;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(3, 30%);
        }
        a{
            text-decoration: none;
            color: #C6C6C6;
            font-weight: bold;
            font-size: 30px;
        }
        li {
            opacity: 0;
            margin: 30px;
            margin-bottom: 20px;
        }
    }
    .home {
        color: #C6C6C6;
        font-size: 80px;
        font-weight: bolder;
        max-width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-70%);
        left: 55%;
    
    
        #subtext {
            font-weight: bold;
            font-size: 25px;
            font-weight: 500;
            position: absolute;
        }
    }
}


@media only screen and (max-width: 1024px) and (min-width: 900px) {
    nav {
        ul {
            list-style-type: none;
            margin: 10% auto 0 auto;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(2, 45%);
        }
        a{
            text-decoration: none;
            color: #C6C6C6;
            font-weight: bold;
            font-size: 50px;
        }
        li {
            opacity: 0;
            margin: 50px;
            margin-bottom: 30px;
        }
    }

    .home {
        color: #C6C6C6;
        font-size: 80px;
        font-weight: bolder;
        max-width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-70%);
        left: 55%;
    
    
        #subtext {
            font-weight: bold;
            font-size: 25px;
            font-weight: 500;
            position: absolute;
        }
    }
    
}


.masonry{
    width: 1200px;
    margin: 20px auto;
    columns: 3;
    column-gap: 20px;
    grid-auto-flow: column;
  }
  
  .hide{
    visibility: hidden;
  }
  
  .animate{
    animation: a 0.8s forwards;
  }
  
  
  @keyframes a{
    from{
      visibility: visible;
      transform: translateY(100vh);
    }
    to{
      opacity: 1;
      transform: translateY(0);
    }
  }
  .masonry-content {
    overflow: hidden;
    padding: 10px;
  }
  
  .masonry .masonry-item{
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    break-inside: avoid;
    background: #fff;
  }
  
  .masonry .masonry-item img{
    width: 100%;
    transition: 0.3s all;
  }
  
  .masonry .masonry-item img:hover{
    transform: scale(1.04);
    filter: brightness(40%);
  }
  